<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ title | safe }}{% if title !== 'Iowa Keyboards' %} • Iowa Keyboards{% endif %}</title>
  <meta name="description" content="{{ site.config.description }}">
  <meta name="author" content="Iowa Keyboards" />
  <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
  <meta property="og:title" content="{{ title }}">
  <meta name="og:description" content="{{ site.config.description }}">
  <link rel="stylesheet" href="/assets/css/style.css">
</head>