---
title: Events
permalink: events.html
---

<h1>Events</h1>
<div class="events-page">
  <h2>Upcoming Events</h2>
  {% set anyUpcoming = "false" %}
  {%- for event in events | sort(true, true, 'date') %}
    {% if event.date | inFuture %}
      {% set anyUpcoming = "true" %}
      {% include "event.njk" %}
    {% endif %}
  {%- endfor %}
  {% if anyUpcoming == "false" %}
  <p>We don't have specific event details planned but meetups typically happen in the Spring. </p>
  <p>Join the <a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLScnxIebQXu4uMBzT1WOuQWKcOle3EV3_h3ew0d9Ws6qytxQgA/viewform?usp=dialog">mailing list</a> to stay in the loop.</p>
  {% endif %}
  <hr />
  <h2>Past Events</h2>

  {%- for event in events | sort(true, true, 'date') %}
    {% if event.date | inPast %}
      {% include "event.njk" %}
    {% endif %}
  {%- endfor %}
</div>