---
title: Events
permalink: events.html
---

<h2>Upcoming Events</h2>

{%- for event in events | sort(true, true, 'date') %}
  {% if event.date | inFuture %}
    {% include "event.njk" %}
  {% endif %}
{%- endfor %}

<hr />
<h2>Past Events</h2>

{%- for event in events | sort(true, true, 'date') %}
  {% if event.date | inPast %}
    {% include "event.njk" %}
  {% endif %}
{%- endfor %}
