---
title: Iowa Keyboards
layout: default
homepage: true
permalink: index.html
---

<p>Iowa Keyboards is currently in development - please check back later!</p>

<h2>Upcoming Events</h2>
{% set pastEvents = "false" %}
{%- for event in events | sort(true, true, 'date') %}
  {%- if event.date | inFuture %}
    <h4>{{ event.date | formattedDate }} at {{ event.location.name }}</h4>  
    <p>{{ event.location.address }}</p>
    {% if event.ticketLink %}
      <p><a href="{{ event.ticketLink }}">Get tickets here</a></p>
    {% endif %}
  {%- endif %}
{%- endfor %}