---
title: Iowa Keyboards
layout: default
homepage: true
permalink: index.html
---

<p>Iowa Keyboards is currently in development - please check back later!</p>

<h2>Upcoming Events</h2>
{% set pastEvents = "false" %}
{%- for event in events | sort(true, true, 'date') %}
  {%- if event.date | inFuture %}
    {% include "event.njk" %}
  {%- endif %}
{%- endfor %}